@mixin typography-set(
  $font-family:   'Verdana, Arial, Helvetica, sans',
  $font-size-base: 14em,
  $font-weight-light: 300,
  $font-weight-regular: 400,
  $font-weight-bold: 500
) {

  $font-size-small: $font-size-base * 0.85;
  $font-size-title: $font-size-base * 1.5;
  $font-size-headline: $font-size-base * 2;
  $font-size-display-1: $font-size-base * 2.5;
  $font-size-display-2: $font-size-base * 3;
  $font-size-display-3: $font-size-base * 4;
  $font-size-display-4: $font-size-base * 8;
  $custom-typography: mat-typography-config(
    /*
    $font-family:   'Roboto, "Helvetica Neue", sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat-typography-level(inherit, 1.125, 400)
    */

    $font-family: $font-family,
    $display-4: mat-typography-level($font-size-display-4, 1, $font-weight-light),
    $display-3: mat-typography-level($font-size-display-3, 1, $font-weight-regular),
    $display-2: mat-typography-level($font-size-display-2, 1.125, $font-weight-regular),
    $display-1: mat-typography-level($font-size-display-1, 1.125, $font-weight-regular),
    $headline: mat-typography-level($font-size-headline, 1.2, $font-weight-regular),
    $title: mat-typography-level($font-size-title, 1.6, $font-weight-bold),
    $subheading-2: mat-typography-level($font-size-base, 1.75, $font-weight-regular),
    $subheading-1: mat-typography-level($font-size-base, 1.75, $font-weight-regular),
    $body-2: mat-typography-level($font-size-base, 1.75, $font-weight-regular),
    $body-1: mat-typography-level($font-size-base, 1.75, $font-weight-regular),
    $caption: mat-typography-level($font-size-small, 1, $font-weight-regular),
    $button: mat-typography-level($font-size-base, 1, $font-weight-bold),
    $input: mat-typography-level(inherit, 1.125, $font-weight-regular)
  );
  @include angular-material-typography($custom-typography);

}

@include typography-set('Verdana, sans-serif', 15px);
