<ng-container *ngIf="!!field">
  <div class="check-boxes">

    <mat-checkbox
        #checkbox
        [(ngModel)]="(!!field.input && !!field.disabled) || readOnly ? '' : formRef.form.value[field.key + field.suffix]"
        [name]="field.key + field.suffix"
        [required]="!!(field.input ? field.validate && field.validate.required : false)"
        [id]="field.key + field.suffix"
        [disabled]="(!!field.input && !!field.disabled) || readOnly"
        #me="ngModel"
        mrfRegisterForm
        [registerForm]="formRef"
        [registerModel]="me"

        mrfValidateJsonRule
        [jsonRule]="field.input ? field.validate.custom : ''"
    >
    </mat-checkbox>
    {{ displayLabel | translate }}&nbsp;<span *ngIf="!!(field.input ? field.validate && field.validate.required : false)">*</span>
  </div>
  <mat-error mrfErrorMessages [me]="me" [field]="field"></mat-error>
</ng-container>
