<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Test form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <input [(ngModel)]="nomeCampoFocus"/>
   <a mat-button (click)="nextTab()">NEXT</a>
       <a mat-button (click)="resetFormValue()">resetValue</a>
   <a mat-button (click)="setFocus()">focus</a>
    <mrf-form
        #form1
        [externalData]="{'DATA_ODIERNA':'2020-03-24T10:52:19.825Z'}"
        [form]="searchForm"
        [config]="searchFormConfig"
    ></mrf-form>
  </mat-card-content>
  <mrf-debug-object *ngIf="!!formContainer" [istanza]="formContainer.value"></mrf-debug-object>


  <button (click)="callMeBaby()">Push me!</button>
 <button (click)="post1()">Push post 1</button>
 <button (click)="post2()">Push post 2</button>


</mat-card> -->
<!-- CODE EDITOR -->
  <!-- <br>
  <mrf-form
    #codeEditorCsvId
    [form]="codeEditorCsv"
  ></mrf-form>  
  <br>  
  <mrf-form
    #codeEditorJsonId
    [form]="codeEditorJson"
  ></mrf-form> -->
  <br>
  <mrf-form
    #codeEditorXmlId
    [form]="codeEditorXml"
  ></mrf-form>
  <br>

  <mrf-form
    #inputId
    [form]="input"
  ></mrf-form>
  <!--
  <br>
  <mrf-form
    #objectElementId
    [form]="objectElement"
  ></mrf-form> -->


  
  <mrf-form
    #repeatableId
    [form]="repeatable"
  ></mrf-form>