<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">
  <p>{{data.message}}</p>

  <div class="mat-elevation-z1" *ngIf="showTable">
    <ng-container *ngIf="!!dataSource && dataSource.data.length > 0">


      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container [matColumnDef]="columnName" *ngFor="let columnName of displayedColumns">
          <ng-container *ngIf="columnName !== 'actions'">
            <th mat-header-cell
                *matHeaderCellDef>{{data.config.columnTitleRenderer ? data.config.columnTitleRenderer(columnName) : columnName}}</th>
            <td mat-cell
                *matCellDef="let element"> {{(data.config.columnValueRenderer && data.config.columnValueRenderer[columnName]) ? data.config.columnValueRenderer[columnName](element[columnName]) : element[columnName]}} </td>
          </ng-container>
          <ng-container *ngIf="columnName === 'actions'">
            <th mat-header-cell  *matHeaderCellDef > Azioni </th>
            <td mat-cell *matCellDef="let element" >
              <button mat-icon-button type="button" [routerLink]="element.modificaPath" (click)="onNoClick()"><mat-icon>edit</mat-icon></button>
            </td>
          </ng-container>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="table-tools">
        <mat-form-field *ngIf="data.config.showFilter">
          <button mat-button matPrefix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <input matInput (keyup)="keyUpFilterField($event)" [placeholder]="data.labels.searchField">
        </mat-form-field>

        <mat-paginator pageSize="5" hidePageSize showFirstLastButtons></mat-paginator>
      </div>

    </ng-container>

    <div *ngIf="!dataSource || dataSource.data.length === 0">{{data.labels.noRecords}}</div>

  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button *ngIf="!!data.labels.cancelButton" (click)="onNoClick()">{{data.labels.cancelButton}}</button>
  <button mat-button *ngIf="!!data.labels.confirmButton" [mat-dialog-close]="data.item"
          cdkFocusInitial>{{data.labels.confirmButton}}</button>
</div>
