.label {
  margin-top: 10px;
}

.code-mirror-container-relative {
  position: relative;
  display: block;
  top: -9px;
  margin-bottom: -13px;
}

.code-mirror-container-absolute {
  position: absolute;
  top: 14px;
  margin-bottom: 15px;
  width: 100%;
}

.code-editor-input {
  background-color: lightgrey !important;
  pointer-events: none !important;
}

.code-editor-input-hide {
  display: none !important;
}

.code-editor-input-show {
  display: inline-block !important;
}

.code-mirror {
  background-color: rgba(0,0,0,0) !important;
  width: 100%;
}
