<ng-container *ngIf="!!field">
  <legend *ngIf="!!displayLegend" class="select-boxes">{{ displayLegend | translate }}</legend>
  <mat-form-field
    [floatLabel]="!!displayLegend ? 'never' : 'auto'"
    class="field full-width"
    [matTooltip]="(field.tooltip || '') | translate"
  >
    <input
      matInput
      #inputElement
      [(ngModel)]="formRef.form.value[field.key + field.suffix]"
      [name]="field.key + field.suffix"
      type="text"
      [disabled]="(!!field.input && !!field.disabled && !calcolatoEDisabilitato) || readOnly"
      [readonly]="calcolatoEDisabilitato"
      placeholder="{{ displayLabel | translate }}"
      [pattern]="!!field.validate ? field.validate.pattern : ''"
      [required]="!!(field.input ? field.validate && field.validate.required : false)"
      [minlength]="field.validate.minLength"
      [maxlength]="field.validate.maxLength"

      #me="ngModel"
      mrfRegisterForm
      [registerForm]="formRef"
      [registerModel]="me"

      mrfValidateJsonRule
      [jsonRule]="field.input ? field.validate.custom : ''"
      [value]="field.defaultValue || valueNgModel"
    />
    <mat-error *ngIf="me.hasError('required')">{{'generic.labels.campoObbligatorio' | translate}}</mat-error>
    <mat-error *ngIf="me.hasError('validateJsonRule')">{{'generic.labels.jsonValidationError' | translate}}</mat-error>
  </mat-form-field>
</ng-container>
