@import "../../../../../../assets/theme-variables";
.container {
  display: flex;
  .left {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-icon {
      transform: scale(2);
    }
  }
  .message {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
  }
  .right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .green {
    color: map_get($mat-green, 500);
  }
  .red {
    color: map_get($mat-red, 500);
  }
}

