<ng-container *ngIf="!!field">
  <legend *ngIf="!!displayLegend" class="select-boxes">{{ displayLegend | translate }}</legend>
  <mat-form-field
    *ngIf="!(inputType === 'image' && ((!!field.input && !!field.disabled && !calcolatoEDisabilitato) || (calcolatoEDisabilitato || readOnly)))"
    [floatLabel]="!!displayLegend ? 'never' : 'auto'"
    class="field full-width"
    [matTooltip]="(field.tooltip?.text || '') | translate"
    [matTooltipPosition]="field.tooltip?.position || 'below'"
  >
    <input
      matInput
      #inputElement
      [(ngModel)]="formRef.form.value[field.key + field.suffix]"
      [name]="field.key + field.suffix"
      [type]="inputType === 'image' ? 'text': inputType"
      [disabled]="(!!field.input && !!field.disabled && !calcolatoEDisabilitato)"
      [readonly]="calcolatoEDisabilitato || readOnly"
      placeholder="{{ displayLabel | translate }}"
      [pattern]="!!field.validate ? field.validate.pattern : ''"
      [required]="!!(field.input ? field.validate && field.validate.required : false)"
      [minlength]="field.validate.minLength"
      [maxlength]="field.validate.maxLength"
      [validatePreset]="!!field.validate ? field.validate.preset : ''"
      [min]="field.validate.min"
      [max]="field.validate.max"

      #me="ngModel"
      mrfRegisterForm
      [registerForm]="formRef"
      [registerModel]="me"

      mrfValidateCustom

      mrfValidateJsonRule
      [jsonRule]="field.input ? field.validate.custom : ''"
      [value]="field.defaultValue || valueNgModel"
    />
    <mat-error mrfErrorMessages [me]="me" [field]="field"></mat-error>
  </mat-form-field>
  <img alt="Image preview" *ngIf="inputType === 'image' && (formRef.form.value[field.key + field.suffix]||field.defaultValue || valueNgModel)" [src]="formRef.form.value[field.key + field.suffix] || field.defaultValue || valueNgModel" height="150px" (error)="errorHandler($event)"/>
</ng-container>
